// font-size
$base:4px;
$font-16:16px;
$font-secondary:20px;
$font-icon:120px;
$font-heading:68px;


// color
$primary-color:#307FE2;
$secondary-color:#fff;
$third-color:#000;
$bg-color: #000c;

//font-family
@import 'https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap';

$font-lato: "Lato", sans-serif;

// font-weight
$fw-100:100;
$fw-200:200;
$fw-300:300;
$fw-400:400;
$fw-500:500;
$fw-600:600;
$fw-700:700;
$fw-800:800;
$fw-900:900;

// breakpoints
$xl:1200px;
$lg:992px;
$md:768px;
$sm:576px;
$xs:0;

// width/height
$width:60%; $height:90px;