#news{
    margin-top: 60px;
.news-item{
    .news-item-header{
    
        
        img{
           
            width: 100%;
        }
    }
    .news-item-content{
        padding: 20px;
        .date{
            font-size: 17px;
            color: #9c9c9c;
            padding-bottom: 10px;
        }
        .sima-imza{
            font-size: 22px;
        }
    }
}}