

body {
  font-family: $font-lato;}
  #activity {
   
    
    position: relative;
    &::after{
        content: "";
     
        height: 70vh;
        width: 100%;
        position: absolute;
        top: 158px;
       
        // z-index: 0;
        background-color: $bg-color;
    }
   
    .activity-header {
    
        a {
          color: $primary-color;
          font-size: $font-heading;
        letter-spacing: -3px;
        font-weight: $fw-500;
        
        }
      
    }
   
  }
  @media (max-width:998px){
#activity::after{
  display: none;
}
  }

@media (max-width:768px){
  #activity{
  .activity-header {
    
    a {
     font-size: 50px;
    
    }
}}}